*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: #0177a9;
}

body{
    font-family: 'Ubuntu Mono', monospace;
    background-color: #040e14;
    color: white;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

h1{
    font-size: 50px;
}

header, footer{
    text-align: center;
    padding: 15px 0;
}

canvas{
    border: 1px solid #292c32;
}